### Exercises
This notebook is intended to test your Python knowledge so far. It contains a mix of operations and functions that you have encountered before, and some new ones. 

These exercises are designed to be challenging, so don't worry if you find them difficult. If you get stuck, you can always refer to the search strategies you've learned in the course to help you find the information you need. 

We will work with a dataset containing information about the income of countries over a span of 28 years. The dataset is stored in an Excel file named `GDP_by_country.xlsx`. The excercises below guide you through the process of loading and analyzing this dataset.

### Loading and inspecting the data
Let's start with loading the dataset into a DataFrame, and inspecting it to understand its structure. Follow the steps specified below.

In [48]:
### Import the pandas library

In [ ]:
### Load the dataset into a DataFrame

In [ ]:
### Display the first 5 rows of the DataFrame

In [ ]:
### Use the info() method to get a summary of the data

In [7]:
import pandas as pd

In [14]:
df = pd.read_excel('GDP_by_country.xlsx')

In [15]:
df.head(10)

,Country,1990,1995,2000,2005,2010,2011,2012,2013,2014,2015,2016,2017,2018,Info
0,Afghanistan,,,,28.2,48.8,49,55.2,58.3,59.9,60.8,62.2,63.8,64.5,NaN
1,Albania,14.7,13.2,16.8,22.4,28.9,29.7,30.1,30.4,30.9,31.6,32.7,33.9,35.3,NaN
2,Algeria,265.3,268.7,318.4,410.2,464.9,478.3,494.4,508.1,527.4,547.2,565.3,574.3,586.4,NaN
3,Angola,56.4,47.5,63.8,99.4,148.6,153.7,166.8,175.1,183.6,185.3,180.5,180.2,176.4,NaN
4,Antigua and Barbuda,1.1,1.2,1.6,1.8,1.8,1.8,1.8,1.8,1.9,2,2.1,2.2,2.3,NaN
5,Argentina,371,486.2,552.2,607.5,771.4,817.7,809.3,828.8,807.9,830,812.7,834.4,813.5,NaN
6,Armenia,13.2,7,9,16,19.3,20.2,21.6,22.4,23.2,23.9,24,25.8,27.1,NaN
7,Australia,489.2,549.6,677.9,794.8,915,937.5,974.1,999.6,1025.2,1049.2,1079.1,1104.3,1135.6,NaN
8,Austria,240.6,268.6,311.2,339.7,362.4,373,375.6,375.7,378.1,382.5,390.3,400.2,411.2,NaN
9,Azerbaijan,62.9,26.3,37.1,68.7,146.8,144.5,147.7,156.3,160.7,162.4,157.4,157,159.2,NaN

###

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 30 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  208 non-null    object
 1   1990     208 non-null    object
 2   1991     208 non-null    object
 3   1992     208 non-null    object
 4   1993     208 non-null    object
 5   1994     208 non-null    object
 6   1995     208 non-null    object
 7   1996     208 non-null    object
 8   1997     208 non-null    object
 9   1998     208 non-null    object
 10  1999     208 non-null    object
 11  2000     208 non-null    object
 12  2001     208 non-null    object
 13  2002     208 non-null    object
 14  2003     208 non-null    object
 15  2004     208 non-null    object
 16  2005     208 non-null    object
 17  2006     208 non-null    object
 18  2007     208 non-null    object
 19  2008     208 non-null    object
 20  2009     208 non-null    object
 21  2010     208 non-null    object
 22  2011     208 non-null    object
 23  2012     208 non-null    object
 24  2013     208 non-null    object
 25  2014     208 non-null    object
 26  2015     208 non-null    object
 27  2016     208 non-null    object
 28  2017     208 non-null    object
 29  2018     208 non-null    object
dtypes: object(30)
memory usage: 48.9+ KB

In [17]:
# Print the country with the highest income in 2018
df_2018 = df[2018]

0       64.5
1       35.3
2      586.4
3      176.4
4        2.3
       ...
187     38.8
188
189
190
191
Name: 2018, Length: 192, dtype: object